.styleguide-color {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  color: #222;
  font-weight: 400;
  box-sizing: border-box;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 90px;
  line-height: 90px;
  margin-bottom: .5em;
  padding: 0;
  text-align: center;
  color: white;
  border-radius: 5px;
  text-shadow: #000 0 0 2px; }

.styleguide-grid-unit {
  min-height: 3em;
  padding: 1em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1); }

sg-common-class-wrapper {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  border: 0; }
