// Mixins

// Breakpoints

@mixin breakpoint($class) {
  @if $class == md {
    @media (min-width: 767px) {
      @content;
    }
  }
  @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @else {
    @warn "Breakpoint mixin supports: md, lg";
  }
}

// Clearfix

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

/* A duplication of the .material-icons rule content for the cases when adding
the class to an HTML element is impossible. Instead you could add underscore '_'
in the beginning of the elements's title. */
@mixin material-icons($size: 24px) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $size;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: bottom;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
