/**
*
* Variables
*
**/

// Colors
$black: #111;
$white: #fff;
$blue: #2ba9e0;
$red: #ff5027;

// Greys
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// Fonts
$fontDefault: 'Roboto', Helvetica, Arial, sans-serif;
$fontHighlight: Georgia, Times, 'Times New Roman', serif;

// Font Weights
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;
