/**
*
* Post
*
**/

.node--type-article {
  .page-content {
    margin: 0 auto;
    padding: 0 1rem;
    @include breakpoint(md) {
      width: 80%;
      padding: 0;
    }
  }
  .node__meta {
    margin: 0 0 2rem 0;
    font-family: $fontHighlight;
    font-style: italic;
    color: $grey-500;
  }
}