/**
*
* Footer
*
**/

.footer-main {
    padding: 1rem 0;
    background: $grey-100;
    border-top: 1px solid $grey-200;
    @include font-size(14px);
    .region-footer {
        margin: 5px 0 0 0;
        float: left;
    }
    .top-link {
        display: block;
        float: right;
    }
    .arrow-up {
        margin: 0 0 -7px 0;
        width: 32px;
        height: 32px;
        fill: $grey-700;
    }
}
