/**
*
* Header
*
**/

.header-main {
    display: none;
    @include breakpoint(md) {
        display: block;
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 3.8rem;
        padding: 1rem 0;
        background: $white;
        transition: top .5s ease-in-out;
        &.up {
            top: -4rem;
        }
    }
}

.logo {
    float: left;
    width: 20px;
    height: 26px;
    display: block;
    text-indent: -999rem;
    background: url(../images/logo.svg) no-repeat;
}

.header-main .menu {
    float: right;
}

.header-main .menu li {
    display: inline;
    a {
        display: inline-block;
        margin: 0  1rem 0 0;
        @include font-size(14px);
        font-family: $fontHighlight;
        font-weight: $light;
        &:hover {
            color: $black;
        }
    }
}
