// Colors
$black: #222;
$white: #fff;
$grey: #bbb;
$light-grey: #eee;
$dark-grey: #555;
$red: #FF6347;

// Links
$link-color: #E74C3C;

// Fonts
$serif: 'Source Serif Pro', serif;
$sans-serif: 'Source Sans Pro', sans-serif;

// Font Weights
$light:300;
$normal: 400;
$bold: 700;
