/**
*
* Footer
*
**/

.footer-main {
  padding: 1rem 0;
  background: $grey-100;
  border-top: 1px solid $grey-200;
  @include font-size(14px);
  z-index: 100;
  text-align: center;
  .region-footer {
    margin: 5px 0 0 0;
    float: left;
  }
  .twitter {
    position: absolute;
    left: 49%;
    fill: $grey-500;
    transition: all .3s;
    &:hover {
      fill: $blue;
    }
  }
  .top-link {
    display: block;
    float: right;
  }
  .arrow-up {
    margin: 0 0 -7px 0;
    width: 32px;
    height: 32px;
    fill: $grey-700;
  }
}