/**
*
* Header
*
**/

.header-main {
  position: relative;
  height: 3.8rem;
  border-bottom: solid 1px $grey-200;
  @include breakpoint(md) {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background: $white;
  }

  // Front Page Header Tweaks
  > .path-frontpage & {
    border: none;
    background: none;
    transition: all .5s ease-in-out;
    .menu li a {
      color: $grey-600;
    }
  }
  &.sticky {
    background: rgba($white, 0.9);
    box-shadow: 0 2px 5px rgba($black, 0.25);
    .menu li a {
      color: $grey-500;
    }
  }
}

.logo {
  display: none;
  @include breakpoint(md) {
    display: block;
    float: left;
    width: 20px;
    height: 26px;
  }
}

.logo-svg {
  fill: $grey-500;
  transition: all .3s;
  &:hover {
    fill: $blue;
  }
}

.header-main .menu {
  display: none;
  @include breakpoint(md) {
    display: block;
    margin: 3px 0 0 0;
    float: right;
  }
}

.header-main .menu li {
  display: inline;
  margin: 0  1.5rem 0 0;
  &:last-child {
    margin: 0;
  }
  a {
    display: inline-block;
    @include font-size(14px);
    font-weight: $medium;
    text-transform: uppercase;
    color: $grey-500;
    &:hover {
      color: $blue;
    }
  }
}