/**
*
* Layout
*
**/

.contain {
  @include clearfix;
  margin: 0 auto;
  padding: 0 1rem;
  @include breakpoint(md) {
    width: 80%;
    padding: 0;
  }

  @include breakpoint(lg) {
    width: 70%;
  }
}

.content {
  padding: 2rem 1rem;
  min-height: 670px;
  @include breakpoint(md) {
    padding: 7rem 0 2rem 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .3s;
  }
}

.region-content-top {
  margin: 0 0 2rem 0;
}

.region-content {
  margin: 0 0 2rem 0;
}

.region-content-bottom {
  padding: 3rem 0;
  border-top: 1px solid $grey-200;
}