/**
*
* Animations
*
**/

.fadein {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

// Key Frames

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInopacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Custom Animations

@keyframes blurIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
