/**
*
* Front Featured
*
**/

.featured {
    background: $white;
    display: table;
    width: 100%;
    table-layout: fixed;
    min-height: 500px;
    background: url(../images/featured-bg.jpg) no-repeat 50% 0;
    background-size: cover;
    position: relative;
    &:before {
        content: ' ';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba($black, 0.5);
        transition: all .3s;
    }
    &:hover:before {
      background: rgba($black, 0.6);

    }
    .left-half {
        display: table-cell;
        width: 50%;
        padding: 3rem;
        border-right: 1px solid $grey-200;
    }
    .right-half {
        width: 50%;
        padding: 3rem;
        display: table-cell;
    }
    h2 {
        @include font-size(32px);
        margin: 0 0 2rem 0;
        line-height: 1;
        color: $white;
        position: relative;
    }
    p {
        position: relative;
        color: $white;
    }
}
